@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-image: linear-gradient(to bottom, #232334, #1e1d2a, #191820, #131217, #0a0a0a); */
  /* background: rgb(53,57,69);
background: linear-gradient(180deg, rgba(53,57,69,1) 0%, rgba(26,28,34,1) 100%);   */
scroll-behavior: smooth !important;
background: rgb(41,44,54);
background: linear-gradient(180deg, rgba(41,44,54,1) 0%, rgba(26,28,34,1) 16%);
}
